.btn-container {
    float: right;
  }

.btn {
    font-size: larger;
}

.font-italic,
p {
  text-align: left;
}
  
  @media (max-width: 767px) {
    .btn-container {
      margin-bottom: 15px;
    }
  }